# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# Ignore reports
/.framgia-ci-reports/*
/config/database.yml
/config/secrets.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
