<div class="coment-form">
  <%= form_for [post, post.comments.build] do |f| %>
    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit t(".comment"), class: "btn btn-info", id: "submit-comment" %>
  <% end %>
</div>
