<% if object.errors.any? %>
  <div id="error-explanation">
    <h2><%= pluralize object.errors.count, t(".error") %>
      <%= t ".error_count" %>
    </h2>

    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
